<!DOCTYPE html>
<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>




<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

</style>

<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:20px 16px">
  <b class="w3-xxxlarge w3-text-blue"><big>Shorten URL</big></b>
  <p class="w3-large"> Convert lengthy URL into a short one </p>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="/doc" class="w3-bar-item w3-button">Document</a>
      <a href="/" class="w3-bar-item w3-button w3-light-grey">Home</a>
      <a href="/about" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</header><br><br>

<!-- Start  Content -->
<div class="w3-padding-large" style="margin-bottom:128px">
  




  
    <center>
    {% if data %}

    <div class="w3-card-2 w3-hide-small w3-round-large" style="width:70%;">
      <br>
      
      <h3 class="w3-opacity w3-text-blue w3-xxlarge">URL Info</h3>

      <div class="w3-container">

        <p class="w3-center w3-text-gray" id="copy_status"></p>


        <p class="w3-opacity w3-left w3-large">Original URL : </p>

        <button class="w3-button w3-hover-white w3-right" name ="original_url" onclick="copy_text(this)" class="vertical-links"> <i class="fa fa-copy" style="font-size:20px; color:gray"></i></button>

        <br><p class="w3-opacity w3-large w3-center"><input style="width:60%;" id="original_url" type="text" value="{{original_url}}" disabled></p>

      </div>
      

      <div class="w3-container">
        <p class="w3-opacity w3-left w3-large">Shorten URL : </p>

        <button class="w3-button w3-hover-white w3-right" name ="shortened_url" onclick="copy_text(this)" class="vertical-links"> <i class="fa fa-copy" style="font-size:20px; color:gray"></i></button>

        <br><p class="w3-opacity w3-large w3-center"><input style="width:60%;" id="shortened_url" type="text" value="{{shortened_url}}" disabled></p>
      </div>


      <div class="w3-container">
        <p class="w3-opacity w3-left w3-large">Short Code : </p>

        <button class="w3-button w3-hover-white w3-right" name ="short_code" onclick="copy_text(this)" class="vertical-links"> <i class="fa fa-copy" style="font-size:20px; color:gray"></i></button>

        <br><p class="w3-opacity w3-large w3-center"><input style="width:60%;" id="short_code" type="text" value="{{short_code}}" disabled></p>
      </div>


      <div class="w3-container">
        <p class="w3-opacity w3-left w3-large">Created At : </p>

        <p class=" w3-right w3-text-gray w3-large"><b>{{created_at}}</b></p>
      </div>


      <div class="w3-container">
        <p class="w3-opacity w3-left w3-large">URL Expiration : </p>

        <p class=" w3-right w3-text-gray w3-large"><b>{{url_expiration}}</b></p>
      </div>


      <div class="w3-container">
        <p class="w3-opacity w3-left w3-large">Total Visited Time : </p>

        <p class=" w3-right w3-text-gray w3-large"><b>{{total_visited_times}}</b></p>
      </div>


      <br>
      </div>
      <br><br>

    {% endif %}


    <script type="text/javascript">
      function copy_text(cls){

        id = document.getElementById(cls.getAttribute("name"));
        id.select();
        id.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(id.value);
        
        copy_status = document.getElementById("copy_status");
        copy_status.style.display = "block";
        copy_status.innerHTML = "Copied";

        function fade_msg(){
          copy_status.style.display = "none";
        }

        setTimeout(fade_msg, 3000);

      }
    </script>
  
  </center>



  


   


   <center>
    {% if data %}

    <div class="w3-card-2 w3-hide-large w3-hide-medium w3-round-large" style="width:100%;">
      <br>
      
      <h3 class="w3-opacity w3-text-blue">URL Info</h3>

      <div class="w3-container">

        <p class="w3-center w3-text-gray w3-small" id="copy_statuss"></p>


        <p class="w3-opacity w3-left w3-small">Original URL : </p>

        <button class="w3-button w3-hover-white w3-right" name ="original_urll" onclick="copy_textt(this)" class="vertical-links"> <i class="fa fa-copy" style="font-size:13px; color:gray"></i></button>

        <br><p class="w3-opacity w3-small w3-center"><input style="width:100%;" id="original_urll" type="text" value="{{original_url}}" disabled></p>

      </div>
      

      <div class="w3-container">
        <p class="w3-opacity w3-left w3-small">Shorten URL : </p>

        <button class="w3-button w3-hover-white w3-right" name ="shortened_urll" onclick="copy_textt(this)" class="vertical-links"> <i class="fa fa-copy" style="font-size:13px; color:gray"></i></button>

        <br><p class="w3-opacity w3-small w3-center"><input style="width:100%;" id="shortened_urll" type="text" value="{{shortened_url}}" disabled></p>
      </div>


      <div class="w3-container">
        <p class="w3-opacity w3-left w3-small">Short Code : </p>

        <button class="w3-button w3-hover-white w3-right" name ="short_codee" onclick="copy_textt(this)" class="vertical-links"> <i class="fa fa-copy" style="font-size:13px; color:gray"></i></button>

        <br><p class="w3-opacity w3-small w3-center"><input style="width:100%;" id="short_codee" type="text" value="{{short_code}}" disabled></p>
      </div>


      <div class="w3-container">
        <p class="w3-opacity w3-left w3-small">Created At : </p>

        <p class=" w3-right w3-text-gray w3-small"><b>{{created_at}}</b></p>
      </div>


      <div class="w3-container">
        <p class="w3-opacity w3-left w3-small">URL Expiration : </p>

        <p class=" w3-right w3-text-gray w3-small"><b>{{url_expiration}}</b></p>
      </div>


      <div class="w3-container">
        <p class="w3-opacity w3-left w3-small">Total Visited Time : </p>

        <p class=" w3-right w3-text-gray w3-small"><b>{{total_visited_times}}</b></p>
      </div>


      <br>
      </div>
      <br><br>

    {% endif %}


    <script type="text/javascript">
  
      function copy_textt(cls){

        id = document.getElementById(cls.getAttribute("name"));
        id.select();
        id.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(id.value);
        
        copy_status = document.getElementById("copy_statuss");
        copy_status.style.display = "block";
        copy_status.innerHTML = "Copied";

        function fade_msg(){
          copy_status.style.display = "none";
        }

        setTimeout(fade_msg, 3000);

      }
      
    </script>
  
  </center>

  

  
   




<center class="w3-hide-small">
 <form id="urlform" method="post" action="/" style="width:70%;">
    
    <label class="w3-opacity w3-left" ><b> Enter the URL to shorten it :</b> <b class="w3-text-red w3-xlarge">*</b> </label>
    <!-- pattern="https?://.*" for allowing BOH HTTPband HTTPS....the "?" make "s" in https optional 
    and pattern="https://.*" for allowing only HTTPS -->
    <input class="w3-input w3-right" style="width: 50%;" placeholder=" Must starts with 'https://' or 'http://' " type="url" name="original_url" pattern="https?://.*" required>
    <br><br><br><br>
    
    <label class="w3-opacity w3-left" ><b>Custom Short-Code (Optional) : </b></label>
    <input class="w3-input w3-right" style="width: 50%;" placeholder="Max length is 6" type="text" name="short_code">
    <br><br><br><br>

    <label class="w3-opacity w3-left" ><b> URL expiration (1 to 90 days) : </b> </label>
    <input class="w3-opacity w3-right" type="number" name="url_expiration" placeholder=" Default: Never"  min="1" max="90">
    <br><br>

    
  </form><br><br>

  <center><button form="urlform" class="w3-button w3-round w3-blue" >Submit</button></center>
</center>






<center class="w3-hide-large w3-hide-medium">
 <form id="urlformm" method="post" action="/" style="width:100%;">
    
    <label class="w3-opacity"><b> Enter the URL to shorten it :</b> <b class="w3-text-red w3-xlarge">*</b> </label>
    <!-- pattern="https?://.*" for allowing BOH HTTPband HTTPS....the "?" make "s" in https optional 
    and pattern="https://.*" for allowing only HTTPS -->
    <input class="w3-input w3-small" style="width: 100%;" placeholder=" Must starts with 'https://' or 'http://' " type="url" name="original_url" pattern="https?://.*" required>
    <br><br>
    
    <label class="w3-opacity" ><b>Custom Short-Code (Optional) : </b></label>
    <input class="w3-input w3-small" style="width: 100%;" placeholder="Max length is 6" type="text" name="short_code">
    <br><br>

    <label class="w3-opacity" ><b> URL expiration (1 to 90 days) : </b> </label><br>
    <input class="w3-opacity w3-small" type="number" name="url_expiration" placeholder=" Default: Never"  min="1" max="90">
    <br><br><br>

    
  </form>

  <center><button form="urlformm" class="w3-button w3-round w3-blue" >Submit</button></center>
</center>



</div>




<footer class="w3-container w3-padding-32 w3-light-grey w3-center"> 
 <p>Thank You for visiting our website</p>
  <p>Connect with us on</p>
  <div class="w3-large">
  <i class='fab fa-facebook w3-text-blue' style='font-size:25px;'></i>&nbsp;&nbsp;&nbsp;
  <i class='fab fa-instagram w3-text-pink' style='font-size:25px;'></i>&nbsp;&nbsp;&nbsp;
  <i class='fab fa-snapchat w3-text-amber' style='font-size:25px;'></i>&nbsp;&nbsp;&nbsp;
  <i class='fab fa-twitter w3-text-blue' style='font-size:25px;'></i>&nbsp;&nbsp;&nbsp;
  <i class='fab fa-pinterest w3-text-red' style='font-size:25px;'></i>&nbsp;&nbsp;&nbsp;
  <i class='fab fa-linkedin w3-text-indigo' style='font-size:25px;'></i>
  </div>
 
</footer>




</body>
</html>